# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# Pycache
__pycache__/
*.egg-info/
.installed.cfg
*.egg

# Database
instance/
*.db
*.sqlite3
*.db-journal

# Logs
*.log

# Temp files
jules-scratch/